<sdf version ='1.5'>
  <model name ='boxred'>
    <pose>$box_red_pose_x $box_red_pose_y $box_red_pose_z 0 0 0</pose>
    <link name ='boxlink'>

      <inertial>
         <mass>$box_red_mass</mass>
         <inertia>
           <ixx>&multiply(&multiply(&divide(1,12),$box_red_mass),&add(&power($box_red_size_z,2),&power($box_red_size_y,2)))</ixx>
           <ixy>0.0</ixy>
           <ixz>0.0</ixz>
           <iyy>&multiply(&multiply(&divide(1,12),$box_red_mass),&add(&power($box_red_size_x,2),&power($box_red_size_z,2)))</iyy>
           <iyz>0.0</iyz>
           <izz>&multiply(&multiply(&divide(1,12),$box_red_mass),&add(&power($box_red_size_x,2),&power($box_red_size_y,2)))</izz>
         </inertia>
       </inertial>
       <pose>0 0 0 0 0 0</pose>

      <collision name ='boxlink_collision'>
        <geometry>
          <box><size>$box_red_size_x $box_red_size_y $box_red_size_z</size></box>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>$arm_finger-touch_mu</mu>
              <mu2>$arm_finger-touch_mu2</mu2>
              <slip1>$touch_slip1</slip1>
              <slip2>$touch_slip2</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
            <max_vel>$finger_max_vel</max_vel>
            <min_depth>$arm_finger_mindepth</min_depth>
            <soft_erp>$arm_finger_erp</soft_erp>
            <soft_cfm>$arm_finger_cfm</soft_cfm>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name ='boxlink_visual'>
        <geometry>
          <box><size>$box_red_size_x $box_red_size_y $box_red_size_z</size></box>
        </geometry>
        <material>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Red</name>
          </script>
        </material>
      </visual>
    </link>
  </model>
</sdf>
